mixin rowFeaturetteLeft(image, headerInfo, paragpaphs, id, dataTarget)
    hr.featurette-divider(id="#{id}")
    .row.featurette
        .col-md-7
            h2.featurette-heading #{headerInfo.header}
                span.text-muted #{headerInfo.span}
            p.lead
                | #{paragpaphs}
        .col-md-5
            img.featurette-image.img-responsive(data-src="holder.js/500x500/auto",alt="500x500",src="#{image}")

mixin rowFeaturetteRight(image, headerInfo, paragpaphs, id)
    hr.featurette-divider(id="#{id}")
    .row.featurette
        .col-md-5
            img.featurette-image.img-responsive(data-src="holder.js/500x500/auto",alt="500x500",src="#{image}")
        .col-md-7
            h2.featurette-heading #{headerInfo.header}
                span.text-muted #{headerInfo.span}
            p.lead
                | #{paragpaphs}


mixin dropdown(id, list, label)
    li.dropdown
        a(href="#",id="#{id}",class="dropdown-toggle",data-toggle="dropdown") #{label}
            b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="#{id}")
            each item in list
                li
                    a(href="#{item.link}",tabindex="-1") #{item.info}


mixin mainFeaturette(id, h2, p , img)
    .featurette.container(id="#{id}")
        h2 #{h2}
        p.lead #{p}
        img.featurette-image.img-responsive(src="#{img}" alt="info")

mixin Thumbnail3(id, list)
    .row(id="#{id}")
        each item,i in list
            .col-sm-6.col-md-4
                .thumbnail
                    a(data-toggle="lightbox",href="##{id}#{i}")
                        img(data-src='holder.js/300x200', alt='300x200', src='#{item.img}', style='width: 300px; height: 200px;',)
                    .caption
                        h3 #{item.h3}
                        p #{item.p}
            //TODO fix
            .lightbox.hide.fade(id="#{id}#{i}",tabindex="-1",role="dialog",aria-hidden="true")
                .lightbox-content
                    img(src="#{item.img}")
                    .lightbox-caption #{item.h3}: #{item.p}